@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Galano Grotesque Alt";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/GalanoGrotesqueAltRegular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Galano Grotesque Alt";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/GalanoGrotesqueAltMedium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Galano Grotesque Alt";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/GalanoGrotesqueAltBold.woff2") format("woff2");
}

.link {
  position: relative;
  cursor: pointer;
}

ul:first-of-type .link:hover::before {
  content: "";
  position: absolute;
  bottom: -17px;
  width: 100%;
  border-bottom: 2px solid rgb(43 43 43);
}

ul:first-of-type .link.link-hover::before {
  content: "";
  position: absolute;
  bottom: -17px;
  width: 100%;
  border-bottom: 2px solid rgb(43 43 43);
}

.manage > li .link {
  text-decoration: underline;
}
.manage > li .link:hover {
  opacity: 0.85;
}

.account li:first-child {
  @apply font-normal cursor-pointer;
}

.account li:last-child {
  @apply rounded-[40px] bg-base text-white px-4 min-w-[32px] max-h-10 self-center flex items-center cursor-pointer;
}

.overlay {
  background-color: rgb(43 43 43 / 0.72);
  position: fixed;
  inset: 0;
  z-index: 2;
  overflow: hidden auto;
  transition: all 750ms ease-in-out;
}
